/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
margin: 0;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: url("1.png");
color: #dddddd;
line-height: 1.6;
position: relative;
z-index: 0;
}
header {
background: #0f270f;
opacity: 50%;
color: #fff;
padding: 40px 20px;
text-align: center;
position: relative;
}

section {
max-width: 900px;
margin: 40px auto;
background: #161616;
padding: 30px;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h1, h2 {
margin-top: 0;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 30px;
margin-top: 20px;
}

.card {
padding: 20px;
border-radius: 10px;
background: #292929;
border: 1px solid #292929;
}

.carousel-container {
  position: relative;
  max-width: 900px;
  height: auto;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: none;
}

.carousel-image.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

footer {
text-align: center;
padding: 20px;
color: #b9b9b9;
font-size: 0.9rem;
}
